 
 /* available ipad width: 893 px,  height:600  px  */
 
 div{
 overflow:hidden;
  padding:10px;
 }
  


 .div1  {
     height:345px;      
     width:543px;

    overflow: hidden;
    padding:10px;
  
    border-bottom-style: solid ;
    border-bottom-color: #C6C2C2;
    border-bottom-width: 1px; 
  
    border-right-style: solid ;
    border-right-color: #C6C2C2;
    border-right-width: 1px; 
    
    float:left;
     
}
 .div2  {
    height:300px;      
    width:350px;
    float:top;
     padding:10px;
    border-left-style: solid ;
    border-left-color: #C6C2C2;
    border-left-width: 1px; 
    
    
}
 .div3  {
      height:305px;      
      width:540px;
    float:left;
    padding:10px;

}   
 .div4  {
      height:300px;      
      width:350px;
    border-top-style: solid ;
    border-top-color: #C6C2C2;
    border-top-width: 1px; 
    border-left-style: solid ;
    border-left-color: #C6C2C2;
    border-left-width: 1px; 
    float:top;
    padding:10px;
}   
 .div5  {
 visibility: hidden;
}  


#img1{
width:270px;
height:270px;
float:left;
padding:10px;

}


#img2{
width:300px;
height:230px;
float: left;
padding:10px;
}

#img3{
width:240px;
height:250px;
float:right;
padding:10px;
}

#img4{
width:300px;
height:240px;
float: bottom;
padding:10px;

}



div.div1{
position:fixed;
top:30px;
left:5px;
float:top;
padding:10px;


}
div.div2{
position:fixed;
top:30px;
right:5px;
float:left;
}
div.div3{
position:fixed;
top:380px;
left:5px;
float:left;
}
div.div4{
position:fixed;
top:350px;
right:5px;
float:left;
}

 .header{
position:relative;
top:-20px;
 }
 
 
 //words:
 
 #p1{
 width:300px;
height:200px;
float:top;
padding:10px;
margin:10px;
 }
 
 
  #p3{
width:260px;
height:250px;
float:left;
padding:10px;
 }
  
 
 