 
 /* available ipad width: 893 px,  height:600  px  */
 
 div{
 overflow:hidden;
  padding:10px;
 }
  
 .div1  {
   height:370px;
   width:550px;
   overflow: hidden;
   padding:10px;
   
       border-right-style: solid ;
    border-right-color: #C6C2C2;
    border-right-width: 1px; 
        
}
 .div2  {
    height:340px;
    width:340px;
    float:left;
    overflow:hidden;

    padding:10px;
}
.div3  {
   visibility:hidden;
}
    
 .div4  {
      height:190px;      
      width:350px;
    border-top-style: solid ;
    border-top-color: #C6C2C2;
    border-top-width: 1px;
     overflow:hidden;
  padding:10px;

}   
.div5{
  height:190px;      
      width:550px;
    border-top-style: solid ;
    border-top-color: #C6C2C2;
    border-top-width: 1px;
              border-left-style: solid ;
    border-left-color: #C6C2C2;
    border-left-width: 1px; 
     overflow:hidden;
  padding:10px;
}


#img1{
width:310px;
height:310px;
float:right;
padding:10px;

}


#img2{
width:185px;
height:300px;
float:right;
padding:10px;
}



#img4{
width:185px;
height:200px;
float:right;
padding:10px;
}

#img5{
width:200px;
height:200px;
float:right;
padding:10px;
}
span {
position:relative;
top:-20px;
left:5px;
}
div.div1{
position:fixed;
top:30px;
left:5px;
float:left;

}

div.div2{
position:fixed;
top:30px;
right:5px;
float:left;
}

div.div3{
position:fixed;
top:230px;
right:5px;
float:left;
}

div.div4{
position:fixed;
top:430px;
left:5px;
float:left;
}
div.div5{
position:fixed;
top:430px;
right:5px;
float:left;
}


 .header{
position:relative;
top:-20px;
 }